main {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding-top: 5em;
  margin-bottom: 10em;
  z-index: 1;
  background-color: #fff;
}
/*THESE ARE CONTROLS FOR THE VIDEO CAROUSEL*/
.rec.rec-arrow:disabled {
  visibility: hidden;
}
.rec.rec-arrow {
  background: transparent;
  border-color: transparent;
}
.rec-dot {
  display: none;
}
/*THESE ARE CONTROLS FOR THE VIDEO CAROUSEL*/
.alerts {
  position: absolute;
  top: 20em;
  right: 6em;
}

section {
  margin: 0.6em 0;
  display: flex;
  flex-direction: column;
}
#headerimage {
  max-width: 100vw;
  top: 0;
  position: absolute;
  margin: auto;
}

h6 {
  color: #37003c;
  position: relative;
  text-align: left;
  left: 2.5%;
}
.headerholder {
  margin-bottom: 20em;
}

.feedheader {
  position: static;
  display: flex;
  padding-top: 10em;
  height: 100vh;
  max-width: 100vw;
  background-color: black;
}

.backbutton {
  position: absolute;
  top: 10.7em;
  display: flex;
  flex-direction: row;
  left: 15%;
  cursor: pointer;
}
.secondlinkstyle {
  color: #37003c;
  font: 3em sans-serif;
  display: flex;
}

.flexcontainer {
  display: flex;
  min-height: 100vh;

  width: 100vw;
  flex-direction: column;
  padding-top: 10em;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f4c6b+0,3f4c6b+100;Blue+Grey+Flat */
  background: rgb(63, 76, 107); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(63, 76, 107, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(63, 76, 107, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(63, 76, 107, 1) 0%,
    rgba(63, 76, 107, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
.mediacontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.videoholder {
  position: relative;
  background-color: black;
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.videoholder::-webkit-scrollbar {
  display: none;
}
.videoholder {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#thumbnail {
  width: 150px;
  margin: 5px;
}
#thumbnail:hover {
  opacity: 50%;
  transition: 0.5s ease;
}

#thumbnailonfeed {
  transition: all 0.2s ease-in-out;
  width: 20em;
  -webkit-box-shadow: 0px 7px 6px -4px #000000;
  box-shadow: 0px 7px 6px -4px #000000;
  margin: 1em 0;
}

.vidposting {
  padding: 0.3em;
  transition: all 0.2s ease-in-out;
}

.vidposting2 {
  display: grid;
}

.vidposting:hover {
  transform: scale(1.15);
  transition: 0.3s cubic-bezier();
}

.videodescription {
  visibility: hidden;
  position: relative;
  bottom: 10em;
  background-color: yellow;
  width: 100%;
}

.videosection {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
.videosection2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 90%;
  margin: auto;
}
.reelholder {
  display: flex;
  height: 100%;
}

.overlay {
  background-color: #008cba;
}
.text {
  color: white;
  font-size: 20px;
}

.picholder {
  width: 15%;
  height: 735px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.sidepanelholder {
  overflow: scroll;
  height: 630px;
  display: flex;
  flex-direction: column;
}
.sidepanelholder::-webkit-scrollbar {
  display: none;
}
.sidepanelholder {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.vid_controls {
  display: flex;
  padding: 0.6em;
  flex-direction: row;
  height: 20px;
  background-color: white;
  margin: auto;
  width: 100%;
  justify-content: center;
}
.videosidebar {
  background-color: white;
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: scroll;
  width: 20%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.videosidebar::-webkit-scrollbar {
  display: none;
}

.social_controls {
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#iconn {
  color: #37003c;
  margin: 0.3em 0;
  cursor: pointer;
}

.headercontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background: transparent;
}

#likenumber {
  transition: 0.5s ease;
  color: rgb(17, 17, 17);
  font-size: 0.4em;
}

.descriptionsection {
  padding: 3em;
  display: flex;
}

.commentssection {
  width: 100%;
  top: 0em;
  position: absolute;
  background-color: yellow;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.commentssection::-webkit-scrollbar {
  display: none;
}

/*iphone x*/
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .flexcontainer {
    display: flex;
    flex-direction: column;
    height: 609px;
    overflow: scroll;
  }

  .picholder {
    width: 100%;
    background-color: red;
    height: 200px;
    margin: auto;
    position: relative;
  }
  .sidepanelholder {
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
  }
  .sidepanelholder::-webkit-scrollbar {
    display: none;
  }
  .sidepanel {
    height: 60px;
  }
  .sidepanelholder {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .mediacontainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(0, 255, 255);
    width: 100%;
  }

  .videoholder {
    position: relative;
    background-color: rgb(94, 250, 88);

    display: flex;
    flex-direction: row;
    order: -1;
    width: 80%;
  }

  .videoholder::-webkit-scrollbar {
    display: none;
  }
  .videoholder {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .vid_controls {
    display: flex;
    padding: 0.6em;
    flex-direction: row;
    height: 20px;
    background-color: white;
    margin: auto;
    width: 100%;
    justify-content: center;
  }
  .videosidebar {
    background-color: yellow;
    display: flex;
    position: relative;
    flex-direction: row;
    height: 135px;

    overflow: scroll;
    width: 100%;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .videosidebar::-webkit-scrollbar {
    display: none;
  }

  .social_controls {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  #iconn {
    color: #37003c;
    margin: 0.3em 0;
    cursor: pointer;
  }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
