.flexcontainer {
  display: flex;
  flex-direction: column;
}
.mediacontainer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.videoholder {
  position: relative;
  background-color: rgb(94, 250, 88);
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.videoholder::-webkit-scrollbar {
  display: none;
}
.videoholder {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#thumbnail {
  width: 150px;
  margin: 5px;
}
#thumbnail:hover {
  opacity: 50%;
  transition: 0.5s ease;
}
.overlay {
  background-color: #008cba;
  width: 150px;
  top: 40;
  bottom: 40;
  left: 20;
}
.text {
  color: white;
  font-size: 20px;

  text-align: center;
}

.picholder {
  height: 735px;
  margin: auto;
  overflow: hidden;
  position: relative;
}
.sidepanelholder {
  overflow: scroll;
  height: 630px;
}
.sidepanelholder::-webkit-scrollbar {
  display: none;
}
.sidepanelholder {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.vid_controls {
  display: flex;
  padding: 0.6em;
  flex-direction: row;
  height: 20px;
  background-color: white;
  margin: auto;
  width: 100%;
  justify-content: center;
}
.videosidebar {
  background-color: yellow;
  display: flex;
  position: relative;
  flex-direction: row;
  overflow: hidden;
}
.social_controls {
  padding-top: 6em;
  display: flex;
  flex-direction: column;
  margin: auto;
}
#iconn {
  color: #37003c;
  margin: 0.3em 0;
  cursor: pointer;
}
.headercontainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#likenumber {
  transition: 0.5s ease;
  position: absolute;
  right: 47.5%;
  color: rgb(17, 17, 17);
  font-size: 1.2em;
}
