.tablecontainer {
  width: 50%;
  margin: auto;
}

.bgcolor {
  background-color: black;
}

table {
  background-color: #fff;
}
.statsheader {
  padding-top: 10em;
}

.playermodal {
  position: absolute;
  top: 2em;
  width: 30em;
  background-color: #fff;
}
