video {
  /* width: 1552.29; */
  width: 100%;
  border: 1px solid black;
}

.videocard {
  width: 100%;
}

.sidebar_icons {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.vid_controls {
  display: flex;
  padding: 0.6em;
  flex-direction: row;
  height: 60px;
  background-color: white;
  margin: auto;
  width: 100%;
  justify-content: center;
}
